/* Reset CSS básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #c50b0bb7, #410902d3);
    color: #222020;
}

header {
    background: linear-gradient(to right, #3f5efb, #8f021e);
    color: #fff;
    padding: 20px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header h1 {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    opacity: 0.8;
}

section {
    padding: 40px 0;
}

section h2 {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
}

footer {
    background: linear-gradient(to right, #3f5efb, #8f021e);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 50px;
}

footer p {
    font-size: 14px;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 40px;
}

.project-highlight {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 100%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.project-highlight h3 {
    font-size: 24px;
    color: #000;
    margin-bottom: 10px;
}

.project-highlight p {
    color: #000;
    font-size: 18px;
}

.project-highlight .btn {
    display: inline-block;
    background-color: #ff7e5f;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    transition: all 0.3s ease;
}

.project-highlight .btn:hover {
    background-color: #ff9d88;
}


#sobre-container {
    background-color: #ffffff5d; /* Define o fundo como branco */
    border-radius: 12px; /* Arredonda as bordas */
    padding: 20px; /* Adiciona um espaço interno */
    color: #000; /* Define a cor do texto como preto */
}

#sobre p {
    font-size: 17px; /* Reduz o tamanho da fonte dos parágrafos */
    line-height: 1.6;
    margin-bottom: 10px;
    text-shadow: 0.1px 0.1px 1px rgba(0, 0, 0, 0.5); /* Ajusta a sombra do texto para ser visível */
}



#admin-area {
    color: transparent; /* Torna o texto transparente */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

#admin-area:hover {
    color: inherit; /* Restaura a cor do texto quando passa o mouse sobre ele */
}

/* Estilos para telas menores */
@media only screen and (max-width: 768px) {
    header h1 {
        font-size: 24px; /* Reduz o tamanho da fonte do cabeçalho */
    }

    nav ul li a {
        font-size: 14px; /* Reduz o tamanho da fonte dos links do menu */
    }

    section h2 {
        font-size: 24px; /* Reduz o tamanho da fonte dos títulos das seções */
    }

    #sobre p {
        font-size: 16px; /* Reduz o tamanho da fonte dos parágrafos da seção 'Sobre' */
    }

    .project-highlight h3 {
        font-size: 20px; /* Reduz o tamanho da fonte dos títulos dos projetos */
    }

    .project-highlight p {
        font-size: 14px; /* Reduz o tamanho da fonte das descrições dos projetos */
    }

    .project-highlight .btn {
        font-size: 12px; /* Reduz o tamanho da fonte dos botões dos projetos */
    }

    footer p {
        font-size: 12px; /* Reduz o tamanho da fonte do texto do rodapé */
    }
}


#login-form {
    display: none;
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateY(-140%);
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999; /* Certifique-se de que o formulário fique sobreposto a outros elementos */
}

#login-form input {
    display: block;
    width: calc(100% - 20px); /* Leva em consideração o padding */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#login-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #3f5efb;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#login-form button:hover {
    background-color: #8f021e;
}
.login-btn {
    position: absolute;
    top: 20px; /* Ajuste conforme necessário */
    right: 20px; /* Ajuste conforme necessário */
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.login-btn i {
    margin-right: 5px;
}
.social-icons {
    font-size: 24px; /* Ajusta o tamanho dos ícones */
}

.social-icons a {
    color: #ffffff; /* Altera a cor dos ícones para um tom mais escuro */
    text-decoration: none; /* Remove o sublinhado dos links */
    display: inline-block; /* Faz os links se alinharem horizontalmente */
    margin-right: 5px; /* Adiciona um espaço entre os ícones */
}

.social-icons a:hover {
    color: #000; /* Altera a cor dos ícones quando passa o mouse sobre eles */
}
