* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.info {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.info p {
    font-size: 1.2rem;
    margin: 5px 0;
}

.modes {
    margin-top: 10px;
}

.difficulty {
    margin-top: 10px;
}

.modes button, .difficulty button {
    margin-top: 5px;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    color: white;
    transition: background-color 0.3s, transform 0.3s;
}

.modes button:hover, .difficulty button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#normal-mode, #sound-toggle {
    background-color: #007bff;
}

#painter-mode {
    background-color: #28a745;
}
#dpi-mode {
    background-color: #ffc107;
    color: #333;
}

#reset-mode{
    background-color: #fffb00;
    color: #333;
}

#easy-mode, #medium-mode, #hard-mode{
    background-color: #001aff;
    color: #ffffff;
}

.tiro {
    position: absolute;
    width: 10px; /* Largura da bala */
    height: 5px; /* Altura da bala */
    background-color: red; /* Cor da bala */
    pointer-events: none;
    animation: disparo 0.5s ease-out forwards; /* Animação opcional */
}

@keyframes disparo {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0; /* A bala desaparece ao final da animação */
    }
}
.mancha {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: rgba(255, 0, 0, 0.7);
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}

.bolinha {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #ffc107;
    border-radius: 50%;
    pointer-events: auto;
    box-shadow: 0 0 10px rgba(255, 193, 7, 0.5);
    cursor: pointer;
}
.info button:active {
    transform: scale(0.95);
}

.passaro {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('passaro1.gif'); /* Imagem do pássaro */
    background-size: cover;
    pointer-events: none;
    animation: voar 5s linear infinite;
}

@keyframes voar {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100vw);
    }
}

.gun-container {
    position: absolute;
    bottom: 20px; /* Ajuste conforme necessário */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajuste para centralização */
    z-index: 5; /* Para garantir que fique acima dos pássaros */
}

.metralhadora {
    width: 100px; /* Ajuste o tamanho da metralhadora conforme necessário */
    height: auto; /* Mantém a proporção */
}